*{
    margin: 0;
    padding: 0;
}

#wraper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.element{
    flex: 1 2vw;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.element:nth-of-type(3){
    flex: 2 2vw;
}
