*{
    margin: 0;
    padding: 0;
}

#wraper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    align-content: flex-end;
}

#change{
    width: 100%;
    border: none;
    background-color: aquamarine;
    height: 5vh;
    padding: 0.5vw;
    color: rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    display: block;
}
#change:focus{
    outline: none;
    background-color: cadetblue;
}

.element{
    flex: 1 1vw;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin: 0.2vw;
    background-color: aliceblue;
    padding: 0.5vw;
}
.element:nth-of-type(3){
    flex: 2 1vw;
    order: -1;
    transition: 1.8s;
    transition-property: order;
    align-self: center;
}

.element:nth-of-type(3):hover{
    order: 0;
}

hr{
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    background-color: rebeccapurple;
    border: none;
}
