@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wraper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    margin: 0 auto;
    align-content: flex-end;
}

header{
    display: flex;
    padding: 1vh 6vw;
    flex-basis: 100%;
    width:80vw;
    height: auto;
    transition: 0.2s;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
header .naming{
    flex: 1;
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    text-shadow: -5px 2px 0px #00e6e6,
                     -10px 4px 0px #01cccc,
                     -15px 8px 0px #00bdbd;    
    font-size: 5vh;
    flex-shrink: 0;
}
header nav{
    flex: 9;
    justify-content: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 1;
    font-size: 1rem;
  }
header nav ul li {
    list-style: none;
  }
header nav ul li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 15px 20px;
    color: #fff;;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
  }
header nav  ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #9521f3;
    transition: 0.5s;
  }
header nav ul li a:hover::before {
    animation: animate .5s linear forwards; 
  }
  
  @keyframes animate {
    0% {
      top: calc(50% - 2px);
      left: -100%;
      height: 4px;
      z-index: 1;
    }
    50% {
      top: calc(50% - 2px);
      left: 0;
      height: 4px;
      z-index: 1;
    }
    100% {
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }
main{
    flex: 1;
}
@media (max-width: 800px) { 
    header nav ul {
        flex-direction: column;
        font-size: 0.7rem;
        align-items: center;
    }
   }

#change{
    width: 100%;
    border: none;
    background-color: aquamarine;
    height: 5vh;
    padding: 0.5vw;
    color: rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    display: block;
}
#change:focus{
    outline: none;
    background-color: cadetblue;
}



hr{
    width: 100%;
    height: 2px;
    margin-top: 1rem;
    background: linear-gradient(90deg, rgba(43,120,196,1) 27%, rgba(243,0,255,1) 100%);
    border: none;
}
